1. Write a Python program to convert kilometers to miles? 
2. Write a Python program to convert Celsius to Fahrenheit? 
3. Write a Python program to display calendar? 
4. Write a Python program to solve quadratic equation? 
5. Write a Python program to swap two variables without temp variable ?

# 1

In [6]:
x = int(input("enter value in kms to cnvert "))
print(x*0.621371,"miles")

enter value in kms to cnvert 5
3.106855 miles

# 2

In [9]:
x = int(input("enter value in celsius to fah. "))
print((x*9/5)+32 ,"fahrenhite")

enter value in celsius to fah. -40
-40.0 fahrenhite

# 3

In [11]:
import calendar  
def showCal():
    year= int(input("Enter year for calender: "))
    print(calendar.calendar(year))
showCal()

Enter year for calender: 1999
                                  1999

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

# 4

In [15]:
import math
import cmath
def quad():
    a = int(input('Enter a value: '))
    b = int(input('Enter b value: '))
    c = int(input('Enter c value: '))
    D = (b*b)-4*a*c
    if D>=0:
        x= (-b + D )/2*a
        y= (-b - D )/2*a
        print(x,y,"are the roots of this eqn")
    else:
        print("Non roots possible ")
        
quad()

Enter a value: 1
Enter b value: 2
Enter c value: 1
-1.0 -1.0 are the roots

# 5

In [21]:
num_1 = int(input('Enter first number: '))
num_2 = int(input('Enter second number: '))


def swapNumbers(num_1,num_2):
        print('Before Swapping',num_1,num_2)
        num_1 = num_1+num_2
        num_2 = num_1-num_2
        num_1 = num_1-num_2
        print('After Swapping',num_1,num_2)

swapNumbers(num_1,num_2)

Enter first number: 15
Enter second number: 10
Before Swapping 15 10
After Swapping 10 15